MYSQL_ROOT_PASSWORD=ZAQ12wsx581!
MYSQL_DATABASE=emergency_db

PG_DATABASE=emergency_vector
PG_USER=postgres
PG_PASSWORD=ZAQ12wsx581!

MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=ZAQ12wsx581!
MINIO_BUCKET=emergency-images

AI_SERVICE_API_KEY=emergency-platform-ai-service-key-2024
AMAP_API_KEY=2194d39fed9905e8cd5779f046a84fe1
JWT_SECRET=emergency-platform-jwt-secret-key-2024-yunnan-disaster-response
